.header {
    
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.main-content {
    display: flex;
    margin-top: 3rem;
}

.left-content {
    flex: 0.65;
}

.right-content {
    flex: 0.35;
}

.post-title {
    display: flex;
    align-items: center;
}

.post-hr {
    width: 50%;
}

.post-body {
    font-size: 13px;
    color: gray;
}

.history-image {
    width: 100%;
}

.history-post {
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 5rem;
    background: rgb(197, 197, 197);
}